.PageNotFound {
	text-align: center;
}

.PageNotFound span{
    color: coral;
    font-size: xx-large;
    border: 1px solid coral;
    border-radius: 20px;
    padding: 10px 30px;
    background-color: white;
    display: inline-block;
    margin-top: 30px;
}