.About{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    background-color: white;

    border-radius: 8px;
    color: coral;
    text-align: center;
}

.space{
    border: 2px coral dashed ;
    width: 50%;
    border-style: dotted;
}

/* .connect{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
a{
    font-weight: unset;
    color: blue;
    font-size: unset;
}