.AuthMenu {}

.AuthMenu span, a  {
    color:black;
    font-size: 22px;
    font-weight: 700;
    
    
}

.AuthMenu .name{
    color: rgb(19, 112, 19);
}

.ps{
    display: none;
}

@media only screen and (max-width:500px){
    .AuthMenu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sp{
        display: none;
    }
    .ps{
        display: inline-block;
        color: white
    }
}